{% extends "base.html" %}

{% block title %}
  {{ object.title }}
{% endblock %}


{% block content %}
  <div style="padding-top: 40px"></div>
  <div class="row">
  {% for content in module.contents.all %} {% with item=content.item %}
    {% if item.url %}
    <div style="position: relative; padding-top: 56.25%;">
      <iframe src=" {{ item.url }}?muted=true&preload=true"
              style="border: none; position: absolute; top: 0; height: 100%; width: 100%;"
              allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
              allowfullscreen="true"></iframe>
    </div>
    {% endif %}
  {% endwith %}
  {% endfor %}
  <div class="card-panel alcaramel" style="margin-bottom: 150px">

    <div style="margin-top: 20px;margin-bottom: 20px">
      {% for content in module.contents.all %} {% with item=content.item %}
        <h5>{{ item.title }}</h5>
        <hr>
        <div style="margin-top: 20px;margin-bottom: 20px">
        {{ item.body }}
        </div>

         <div style="margin-top: 20px;margin-bottom: 20px">
        {{ item.file }}
        </div>
      {% endwith %}
      {% endfor %}

      <div class="row">
        <h6>モジュール一覧</h6>
        <div class="collection">
          {% for m in object.modules.all %}
            <a href="{% url "students:student_course_detail_module" object.id m.id %}"
               class="collection-item {% if m == module %}active{% endif %}">
            <span>
              モジュール <span class="order">{{ m.order|add:1 }}</span>
            </span>
              {{ m.title }}
            </a>

          {% empty %}
            <li>No modules yet.</li>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
