
<nav>
  <div class="nav-wrapper">
    <a href="{% url 'home' %}" class="brand-logo" style="font-size: 15px">ビューティビジネス総合研究所</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="{% url 'home' %}">Home</a></li>
  <li><a href="{% url 'courses:course_list' %}">コース一覧</a></li>
  {% if request.user.is_authenticated %}
    <li>
      {# URL provided by django-allauth/account/urls.py #}
      <a href="{% url 'users:detail' request.user.username %}">プロフィール</a>
    </li>
    <li>
      {# URL provided by django-allauth/account/urls.py #}
      <a href="{% url 'account_logout' %}">ログアウト</a>
    </li>
  {% else %}
    <li>
      {# URL provided by django-allauth/account/urls.py #}
      <a id="sign-up-link" href="{% url 'account_signup' %}">新規登録</a>
    </li>
    <li>
      {# URL provided by django-allauth/account/urls.py #}
      <a id="log-in-link" href="{% url 'account_login' %}">ログイン</a>
    </li>
  {% endif %}
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">

  <li><a href="{% url 'home' %}">Home</a></li>
  <li><a href="{% url 'courses:course_list' %}">コース一覧</a></li>
  {% if request.user.is_authenticated %}
    <li>
      {# URL provided by django-allauth/account/urls.py #}
      <a href="{% url 'users:detail' request.user.username %}">プロフィール</a>
    </li>
    <li>
      {# URL provided by django-allauth/account/urls.py #}
      <a href="{% url 'account_logout' %}">ログアウト</a>
    </li>
  {% else %}
    <li>
      {# URL provided by django-allauth/account/urls.py #}
      <a id="sign-up-link" href="{% url 'account_signup' %}">新規登録</a>
    </li>
    <li>
      {# URL provided by django-allauth/account/urls.py #}
      <a id="log-in-link" href="{% url 'account_login' %}">ログイン</a>
    </li>
  {% endif %}
</ul>
