{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Edit "{{ course.title }}"
{% endblock %}

{% block content %}
  <h1>Edit "{{ course.title }}"</h1>
  <div class="module row justify-content-md-center">

    <div class="col col-lg-2">
      <h2>Course modules</h2>
      <form method="post" class="form">
        {{ formset }}
        {{ formset.management_form|crispy }}
        {% csrf_token %}
        <input type="submit" value="Save modules" class="btn btn-primary">
      </form>
    </div>
  </div>
{% endblock %}
