{% extends "base.html" %}

{% block title %}
  {% if subject %}
    {{ subject.title }} コース
  {% else %}
    全てのコース
  {% endif %}
{% endblock %}

{% block content %}
  <h1>
    {% if subject %}
      {{ subject.title }} コース
    {% else %}
      全てのコース
    {% endif %}
  </h1>
  <section>
    <div class="row">
      <div class="col s12">
        <section>
          {% for course in courses %}
            {% with subject=course.subject %}
              <div class="col s12 m6 l6">
                <div class="card">
                  <div class="card-image">
                    <div style="position: relative; padding-top: 56.25%;">
                      <iframe src="https://iframe.videodelivery.net/ebed1d24969ee240c9fbf144be505f38?muted=true&preload=true"
                              style="border: none; position: absolute; top: 0; height: 100%; width: 100%;"
                              allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
                              allowfullscreen="true"></iframe>
                    </div>
                    <span class="card-title"> {{ course.instructor.get_full_name }}</span>
                  </div>
                  <div class="card-action">
                    <a href="{% url "courses:course_detail" course.slug %}">{{ course.title }}</a>
                  </div>
                </div>
              </div>
            {% endwith %}
          {% endfor %}

        </section>
      </div>
    </div>
  </section>
{% endblock %}
